@import url('reset.css');
@import url('reset.css');

body {
    user-select: none;
}

.container {
    max-width: 576px;
    margin: 0 auto;
}

.game {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-auto-rows: 70px;
    margin-top: calc(50vh - (576px / 2));
    gap: 2px;
}

.game__cell {
    background: #5d9130;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #5d9130;
    position: relative;
}

.mine {
    display: flex;
    width: 100%;
    position: relative;
    z-index: -1;
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000092;
}

.modal__text {
    width: 300px;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
    font-size: 30px;
    font-weight: 700;
    background: #3ee151;
    z-index: 2;
}

.modal__text.lose {
    background: #f11111;
}

.flag {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
}