@import url('reset.css');
@import url('reset.css');

body {
    user-select: none;
}

.container {
    max-width: 576px;
    margin: 0 auto;
}

.game {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-auto-rows: 70px;
    margin-top: calc(50vh - (576px / 2));
    gap: 2px;
}

.game__cell {
    background: #5d9130;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mine {
    display: flex;
    width: 100%;
    position: relative;
    z-index: -1;
}